@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Data Application</h1>
</div>

<div class="row" style="padding-top:20px;">
    <div class="col-md-6">
        <h2 class="text-center">Data Portal</h2>

        <h4>Projects</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce diam ligula, pretium non ligula sit amet, dignissim eleifend libero. Duis porttitor, odio ac elementum iaculis, tortor orci convallis nulla, quis lobortis mauris orci quis sapien. Mauris vel tortor vel quam vehicula hendrerit eget in ligula.</p>

        <h4>Employees</h4>
        <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vestibulum enim eros, tincidunt vitae efficitur at, suscipit in orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla interdum fringilla enim. Pellentesque elementum luctus metus, eu porta ipsum molestie sit amet. Sed imperdiet urna eget lacus interdum, sit amet efficitur metus feugiat. Nunc at faucibus enim.</p>

        <h4>Orders</h4>
        <p4>Suspendisse at aliquet felis, id consequat quam. Pellentesque lobortis, risus at blandit ornare, mauris lacus vulputate mi, vitae posuere odio mi at ante. Vestibulum maximus sem placerat, ultrices enim tristique, tempus ex. Donec sodales justo id lectus elementum eleifend vel at urna. Donec semper tortor ut posuere vulputate.</p4>
    </div>

    <div class="col-md-6">
        <h2 class="text-center">Report Portal</h2>

        <h4>PowerBI</h4>
        <p>Donec vel leo lectus. Sed ut neque posuere, scelerisque est quis, scelerisque metus. Nunc aliquam urna at elementum maximus. Nulla ex est, blandit vitae elit et, interdum porta urna.</p>

        <h4>Excel</h4>
        <p>Aenean fringilla id sem quis lobortis. Cras pellentesque vestibulum urna id vehicula. Fusce in dolor et mauris bibendum rutrum. Sed in orci sed nulla rutrum ornare at eget ante.</p>
    </div>
</div>
